{% trans_default_domain 'FOSUserBundle' %}
<h2>Edit Profile</h2>
<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST">
    <div class="form_group">

        <div class="form-group">
            {{ form_label(form.first_name) }}
            {{ form_errors(form.first_name) }}
            {{ form_widget(form.first_name, {'attr': {'class': 'form-control'}}) }}

            {{ form_label(form.last_name) }}
            {{ form_errors(form.last_name) }}
            {{ form_widget(form.last_name, {'attr': {'class': 'form-control'}}) }}

            {{ form_label(form.username) }}
            {{ form_errors(form.username) }}
            {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}

            {{ form_label(form.email) }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}

            {{ form_label(form.current_password) }}
            {{ form_errors(form.current_password) }}
            {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}

            
            <label>Profile Picture</label>
            {{ form_errors(form.file) }}
            {{ form_widget(form.file) }}
            {{ form_end(form) }}
            <br />
            <input class="btn btn-primary" type="submit" value="{{ 'profile.edit.submit'|trans }}"/>
        </div>
    </div>
</form>