{% trans_default_domain 'FOSUserBundle' %}
<h2>My Profile</h2>
<div class="user_status status{{app.user.status}} user{{app.user.id}} thumbnail" style="width:250px;">
    {% if app.user.path is empty %}
        <img src="/images.png"/>
    {% else %}
        <img src="/uploads/users/{{ app.user.path }}"/>
    {% endif %}
</div>
<p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
<p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
<p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>