{# empty Twig template #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>FOSUSER BUNDLE WITH IMAGE STARTER</title>

    <meta charset="UTF-8"/>
    <title>{% block titre %}Game Asset Trading{% endblock %}</title>
    <meta name="keywords" content="{% block motsCles %}{% endblock %}"/>
    <meta name="description" content="{% block description %}{% endblock %}"/>

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{{ asset('js/main.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" />   
</head>
<body>    
 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url('homepage') }}">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
        <li><a href="{{ path('fos_user_resetting_request') }}">Forgot Password?</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-left">
        <li><a href="{{ path('products_index') }}">Products</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>    
<div class="container">
    <div class="row">
        <div class="col-md-2">
            {% if app.user %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">Welcome {{ app.user.username }}</div>
                              <div  class="panel-body user_status status{{app.user.status}} user{{app.user.username}} thumbnail">
                                {% if app.user.path is empty %}
                                    <img src="/images.png"/>
                                {% else %}
                                    <img src="/uploads/users/{{ app.user.path }}"/>
                                {% endif %}
                            </div>
                <div align="center" class="row" style="margin-bottom:5px;">
                    <div class="col-xs-12">
                        <button id="online-button" type="button" class="btn btn-success  btn-xs">Online</button>
                        <button id="busy-button" type="button" class="btn btn-warning  btn-xs">Busy</button>
                        <button id="logout-button" type="button" class="btn btn-default  btn-xs">Logout</button>
                    </div>
                </div>         
                    </div>   
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="{{ path('fos_user_profile_show') }}">Profile</a>
                    </li>
                    <li>
                        <a href="{{ path('products_inventory') }}">Inventory</a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_profile_edit') }}">Edit Profile</a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_change_password') }}">Change Password</a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}">Logout</a>
                    </li>
                </ul>
            {% else %}

                <form action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.generateCsrfToken('authenticate') }}"/>
                    <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" id="username" name="_username" required="required" />
                    </div>
                    <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="_password" required="required" />
                    </div>
                    <input class="btn btn-default btn-lg btn-block btn-success" type="submit" value="Login" />
                </form>
          
          
            {% endif %}
        </div>
        <div class="col-md-8">
            {% block body %}
            <h1>Welcome!</h1>

                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">Panel with panel-default class</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <button type="button" class="btn btn-success  btn-xs">Online</button>
                                    <button type="button" class="btn btn-warning  btn-xs">Busy</button>
                                    <button type="button" class="btn btn-default  btn-xs">Offline</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading">Panel with panel-primary class</div>
                        <div class="panel-body">Panel Content</div>
                    </div>

                    <div class="panel panel-success">
                        <div class="panel-heading">Panel with panel-success class</div>
                        <div class="panel-body">Panel Content</div>
                    </div>

                    <div class="panel panel-info">
                        <div class="panel-heading">Panel with panel-info class</div>
                        <div class="panel-body">Panel Content</div>
                    </div>

                    <div class="panel panel-warning">
                        <div class="panel-heading">Panel with panel-warning class</div>
                        <div class="panel-body">Panel Content</div>
                    </div>

                    <div class="panel panel-danger">
                        <div class="panel-heading">Panel with panel-danger class</div>
                        <div class="panel-body">Panel Content</div>
                    </div>
                </div>


            {% endblock %}
        </div>
    </div>
</div>
<script src="{{ asset('http://localhost:4200/socket.io/socket.io.js') }}"></script> 
<script> 
jQuery(function($) {
    var socket = io.connect('http://localhost:4200');
         socket.on('connected', function (data) {
        socket.emit('ready for data', {});
    });
    socket.on('update', function (data) {
          
        if(data.status == 2){
            $('.user'+data.username).removeClass('status4');
            $('.user'+data.username).addClass('status'+data.status);
        } 
        if(data.status == 4){
          $('.user'+data.username).removeClass('status2');
            $('.user'+data.username).addClass('status'+data.status);

        }     
    });
});
</script>

{% block javascripts %}{% endblock %}



    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</body>
</html>