{% trans_default_domain 'FOSUserBundle' %}
<h2>Register</h2>
<div class="form-group">
    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST">
        {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_label(form.first_name) }}
        {{ form_errors(form.first_name) }}
        {{ form_widget(form.first_name, {'attr': {'class': 'form-control'}}) }}

        {{ form_label(form.last_name) }}
        {{ form_errors(form.last_name) }}
        {{ form_widget(form.last_name, {'attr': {'class': 'form-control'}}) }}

        {{ form_label(form.username) }}
        {{ form_errors(form.username) }}
        {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}

        {{ form_label(form.email) }}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}

        {{ form_label(form.plainPassword.first) }}
        {{ form_errors(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}

        {{ form_label(form.plainPassword.second) }}
        {{ form_errors(form.plainPassword.second) }}
        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}

        <br/>
        <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}"/>
        {{ form_end(form) }}
    </form>
</div>
