{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">    
        <h1>Edit</h1>    
        <a  class="btn btn-primary btn-block" href="{{ path('products_index') }}">Back to the list</a>

        <div class="form-group">
            {{ form_start(edit_form) }}
            {{ form_label(edit_form.name) }}
            {{ form_errors(edit_form.name) }}
            {{ form_widget(edit_form.name, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(edit_form.price) }}
            {{ form_errors(edit_form.price) }}
            {{ form_widget(edit_form.price, { 'attr': {'class': 'form-control'} }) }}
        </div>


        <div class="row">
            <div class="col-md-6">
                {{ form_widget(edit_form) }}
                <input class="btn btn-success" type="submit" value="Update"/>
                {{ form_end(edit_form) }}
            </div>

            <div class="col-md-6">
                {{ form_start(delete_form) }}
                <input  style="float:right" class="btn btn-danger" type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </div>

        </div>

    </div>

{% endblock %}