{% extends 'base.html.twig' %}

{% block body %}
<h1>Inventory</h1>
<div class="container">

    
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                 <td>
                
                    <div class="user_status status{{product.owner.status}} user{{product.owner.username}} thumbnail" style="width:80px;">
    {% if product.owner.path is empty %}
        <img class="thumbnail" src="/images.png"/>
    {% else %}
        <img class="thumbnail" src="/uploads/users/{{ product.owner.path }}"/>
    {% endif %}
</div>
                
                </td>
                <td align="right">
                            <a class="btn btn-primary"  href="{{ path('products_show', { 'id': product.product_id }) }}">Show</a>
                            {% if app.user.id == product.owner.id %}
                            <a class="btn btn-success" href="{{ path('products_edit', { 'id': product.product_id }) }}">Edit</a>
                            {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

  
    <a class="btn btn-success" href="{{ path('products_new') }}">Post Ad</a>
    
</div>            
{% endblock %}
