{% extends 'base.html.twig' %}

{% block body %}
    <h1>Post Ad</h1>

    <a class="btn btn-primary btn-block" href="{{ path('products_index') }}">Back to the Listings</a>
    
    {{ form_start(form) }} <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.price) }}
            {{ form_errors(form.price) }}
            {{ form_widget(form.price, { 'attr': {'class': 'form-control'} }) }}
        </div>
        {{ form_widget(form) }}
        <input class="btn btn-success" type="submit" value="Post" />
    {{ form_end(form) }}

{% endblock %}
