{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Show</h1> 
    <a class="btn btn-primary btn-block" href="{{ path('products_index') }}">Back to the Listings</a>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
        </tbody>
    </table>    
                
    <div class="row">
            <div class="col-md-6">
               <a class="btn btn-success" href="{{ path('products_edit', { 'id': product.product_id }) }}">Edit</a>

            </div>

            <div class="col-md-6">
                {{ form_start(delete_form) }}
                <input  style="float:right" class="btn btn-danger" type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </div>

        </div>             

</div>            
{% endblock %}
