{% trans_default_domain 'FOSUserBundle' %}

<h2>Change Password</h2>
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST">

    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_label(form.current_password) }}
        {{ form_errors(form.current_password) }}
        {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}

        {{ form_label(form.plainPassword.first) }}
        {{ form_errors(form.plainPassword.first) }}

        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'required': 'required'}}) }}

        {{ form_label(form.plainPassword.second) }}
        {{ form_errors(form.plainPassword.second) }}


        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
        <br />

        <input class="btn btn-primary" type="submit" value="{{ 'change_password.submit'|trans }}"/>
    </div>


    {{ form_end(form) }}
</form>