{% trans_default_domain 'FOSUserBundle' %}
<h2>Forgot Password</h2>

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="form-inline">
    <label for="username">{{ 'resetting.request.username'|trans }}</label>
    <input type="text" id="username" name="username" required="required" class="form-control" />
    <input class="btn btn-primary" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
</div>
</form>
