{% trans_default_domain 'FOSUserBundle' %}

<h2>Reset Password?</h2>

<h4>Password Recovery</h4>
<em>
    Fill out the form, your password will be reset.
    <br/><br/>
    Once validated, you will need to use the new password that you set.
</em>
<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST">
    {{ form_widget(form) }}
    <br/>
    <input class="btn btn-primary" type="submit" value="{{ 'resetting.reset.submit'|trans }}"/>
</form>
